<p>add-customer works!</p>

<form #addCustomer="ngForm" (submit)="addCustomerForm(addCustomer)">
    <input type="text" [(ngModel)]="fistName" name="fistName">
    <input type="checkbox" [(ngModel)]="terms" name="terms">
   
       <input type="radio" [(ngModel)]="fav_language" name="fav_language" value="CSS">

  <label for="css">CSS</label><br>
<textarea   [(ngModel)]=" message"name="message" id="" cols="30" rows="10"></textarea>
<select [(ngModel)]="cars"name="cars" >
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="opel">Opel</option>
    <option value="audi">Audi</option>
  </select>
    <button type="submit">submit</button>
    {{fistName}}
</form>